// Created by csensebe on 13/12/2015.
.container
    .row
        .col-md-12
    if (flash && flash.default && flash.default.length > 0)
        p.alert.alert-default #{flash.default}
    if (flash && flash.primary && flash.primary.length > 0)
        p.alert.alert-primary #{flash.primary}
    if (flash && flash.success && flash.success.length > 0)
        p.alert.alert-success #{flash.success}
    if (flash && flash.info && flash.info.length > 0)
        p.alert.alert-info #{flash.info}
    if (flash && flash.warning && flash.warning.length > 0)
        p.alert.alert-warning #{flash.warning}
    if (flash && flash.danger && flash.danger.length > 0)
        p.alert.alert-danger #{flash.danger}