// Created by csensebe on 13/12/2015.
.container
    .row
        .col-md-12
    if (message && message.length > 0)
        p.alert.alert-default #{message}
    if (message && message.primary && message.primary.length > 0)
        p.alert.alert-primary #{message}
    if (message && message.success && message.success.length > 0)
        p.alert.alert-success #{message}
    if (message && message.info && message.info.length > 0)
        p.alert.alert-info #{message}
    if (message && message.warning && message.warning.length > 0)
        p.alert.alert-warning #{message}
    if (message && message.danger && message.danger.length > 0)
        p.alert.alert-danger #{message}