extends adminLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header #{page.pageTitle}
        each post in page.posts
            .row
                .col-md-12
                    h3
                        a(href="/admin/post/getPost/#{post.id}") #{post.title}
                    p #{page.dateCreatedText + post.created}
                    p #{page.dateUpdatedText + post.updated}
                    p #{page.authorText + post.author}
                    p #{page.tagsText + post.tags}
                        form(method="post" action="/admin/post/delPost")
                            include partials/csrfToken
                            input(type="hidden" id="postId" name="postId" value="#{post.id}")
                            button.btn.btn-danger #{page.deletePostButtonText}
        .row
            .col-md-12
                p
                    a(href="/admin/post/newPost" class="btn btn-default") #{page.newPostButtonText}
