extends adminLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header  #{page.pageTitle}
                form(method="post" action="/admin/saveNewPost")
                    label(for="title") #{page.labelForPostTitle}
                    input(id="title" name="title" class="form-control" required)
                    label(for="post") #{page.labelForPost}
                    textarea(id="post" name="post" class="form-control text-form" required)
                    label(for="tags") #{page.labelForTags}
                    input(id="tags" name="tags" class="form-control")
                    button.btn.btn-primary.btn-form #{page.saveButtonText}