extends adminLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header  #{page.post.title}
                form(method="post" action="/admin/savePost")
                    include partials/csrfToken
                    input(id="id" name="id" value="#{page.post._id}" type="hidden")
                    label(for="title") #{page.labelForPostTitle}
                    input(id="title" name="title" class="form-control" value="#{page.post.title}" required)
                    label(for="post") #{page.labelForPost}
                    textarea(id="post" name="post" class="form-control text-form" required)= page.post.post
                    label(for="tags") #{page.labelForPost}
                    input(id="tags" name="tags" class="form-control" value="#{page.post.tags}")
                    button.btn.btn-primary.btn-form #{page.saveButtonText}