extends adminLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header #{pageTitle}
                    form(method="post" action="/admin/files?_csrf=#{csrfToken}" enctype="multipart/form-data")
                        include partials/csrfToken
                        label(for="image") #{page.labelForFileUpload}
                        input(type="file" name="image" id="image" class="form-control" required)
                        label(for="filename") #{page.labelForFileName}
                        input(type="text" name="fileName" id="fileName" class="form-control" required)
                        button.btn.btn-primary.btn-form #{page.uploadFileButtonText}