extends adminLayout

block content
	.container
			.row
				.col-md-12
					h2.page-header #{pageContent.user.username}
					form(method="post" action="/admin/user/saveUser")
						include partials/csrfToken
						input(id="id" name="id" value="#{pageContent.user._id}" type="hidden")
						label(for="username") #{pageContent.page.labelForUsername}
						input(class="form-control" id="username" name="username"  value="#{pageContent.user.username}" required)
						label(for="email") #{pageContent.page.labelForEmail}
						input(class="form-control" id="email" name="email" type="email" value="#{pageContent.user.email}" required)
						label(for="password") #{pageContent.page.labelForPassword}
						input(class="form-control" id="password" name="password" type="password")
						label(for="passwordRepeat")  #{pageContent.page.labelForRepeatPassword}
						input(class="form-control" id="passwordRepeat" name="passwordRepeat" type="password")
						label(for="role") #{pageContent.page.labelForRole}
						select(id="role" name="role" class="form-control" required)
							option(value="admin") #{pageContent.page.rolesTexts[0]}
							option(value="editor") #{pageContent.page.rolesTexts[1]}
							option(value="contributor") #{pageContent.page.rolesTexts[2]}
							option(value="observer") #{pageContent.page.rolesTexts[3]}
							option(value="inactive") #{pageContent.page.rolesTexts[4]}
						button.btn.btn-primary.btn-form #{pageContent.page.saveUserButtonText}
