extends siteLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header #{page.pageTilte}
                - each post in page.posts
                    h3
                        a(href="/post/#{post._id}")= post.title
                    p #{page.createdText + post.created}
                    p #{page.authorText + post.author}
                    p #{page.tagsText + post.tags}
