extends siteLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header #{pageContent.pageTitle}
                - each post in pageContent.posts
                    h3
                        a(href="/post/#{post._id}")= post.title
                    p #{pageContent.createdText + post.created}
                    p #{pageContent.authorText + post.author}
                    p #{pageContent.tagsText + post.tags}
