nav(class="navbar navbar-default navbar-fixed")
    div(class="container")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(class="navbar-brand" href="/")= pageContent.siteTitle
        div(class="collapse navbar-collapse")
            ul(class="nav navbar-nav")
                li
                    a(href="/")= pageContent.menuTitles[0]
                li
                    a(href="/tags")= pageContent.menuTitles[1]
                li
                    a(href="/archives")= pageContent.menuTitles[2]
                li
                    a(href="/about")= pageContent.menuTitles[3]
            if isAuthenticated
                ul(class="nav navbar-nav navbar-right")
                    li
                        a(href="/admin")= pageContent.linkToAdminTitle